@{
    ViewData["Title"] = "Products";
}

<div class="container">

    <h1>Add Product</h1>

    <form asp-action="AddProduct" method="post">

        <div class="row">

            <div class="col-3">
                <label for="pname">Product Name</label>
            </div>

            <div class="col-3">
                <input type="text" name="ProductName" placeholder="Product Name" required />
            </div>

        </div>

        <div class="row">
            <div class="col-3">
                <label for="price">Price</label>
            </div>
            <div class="col-3">
                <input type="number" name="Price" placeholder="Product Price" required />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label for="pcode">Product Code</label>
            </div>
            <div class="col-3">
                <input type="number" name="ProductCode" placeholder="Product Code" required />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label for="pweight">Product Weight</label>
            </div>
            <div class="col-3">
                <input type="number" name="ProductWeight" placeholder="Product Weight" required />
            </div>
        </div>

        <button type="submit" style="width:200px">Add Product </button>

    </form>
    <br/>

    <div class="row">
        <div class="col">
            <form asp-controller="Product" asp-action="UploadImage" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required />
                <button type="submit">Upload Image</button>
            </form>
        </div>
    </div>

</div>