html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color:
}

footer {
    background-color: burlywood;
}

button {
    border-radius: 5px;
    border: 1.5px solid;
    color: black;
    background-color: transparent;
    height: 32px;
    font-weight: 600;
    touch-action: manipulation;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

input {
    border-radius: 5px;
    background-color: transparent;

}

input[type="text"], input[type="email"], input[type="number"] {
    border: 1.5px solid;
    color: black;
    height: 32px;
    padding-left: 0.5em;
}

fileInput {
    border: 1.5px solid;
    color: black;
}

div[class="row"] {
    margin:10px;
}

button:hover {
    color: white;
    background-color: darkslategrey;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(1px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

